.navigation {
    list-style-type: none;
}

.navigation-item {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.button_element {
/*    float: left;
    height: 150px;
    width: 150px;
    padding-left: 10px;
    padding-right: 10px;
*/
}