{% extends "base.html" %}

{% block title %}Form{% endblock %}

{% block content %}
    <div class="row">
        <div class="eleven columns">
            <h3>aktuelle Einkaufsliste</h3>
        </div>
    </div>
    {% for i in cur_shoppinglist %}
        {% if loop.index0 is divisibleby 4 or loop.first %}<div class="row">{% endif %}
            <div class="three columns">
                <form action="#" method="POST">
                    <input class="button_element" type="submit" name={{ i.id }} value={{ i.item }}></input>
                </form>
            </div>
        {% if loop.index is divisibleby 4 or loop.last %}</div>{% endif %}
    {% endfor %}
    <div class="row">
        <div class="eleven">
            <form action="#" method="POST">
                <input class="six" type="text" placeholder="Item hinzufügen">
                <input class="three" type="submit" name="submit_button_shoppinglist" value="free_input"></input>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="eleven columns">
            <h3>Zur Liste hinzufügen</h3>
        </div>
    </div>
    {% for i in all_foodtype %}
        <div class="row">
            <div class="eleven columns">
                <h5>{{ i.food_type }}</h5>
            </div>
        </div>

        {% for j in all_fooditem %}
            {% if i.id == j.food_type_id %}
                {% if loop.index0 is divisibleby 4 or loop.first %}<div class="row">{% endif %}
                    <div class="three columns">
                        <form action="#" method="POST">
                            <input class="button_element" type="submit" name={{ j.id }} value={{j.item }}></input>
                        </form>
                    </div>
                {% if loop.index is divisibleby 4 or loop.last %}</div>{% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}