<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic stuff –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="static/normalize.css">
    <!--<link rel="stylesheet" href="static/skeleton.css">-->
    <link rel="stylesheet" href="static/skeleton_abstract.css">
    <link rel="stylesheet" href="static/style.css">

    <!-- Favicon –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!--<link rel="icon" type="image/png" href="images/favicon.png">-->
</head>
<body>
    <div class="container">
        <ul class="navigation">
            <li class="navigation-item">
                <a href="/">Startseite</a>
            </li>
            <li class="navigation-item">
                <a href="/add_food">Food</a>
            </li>
        </ul>
        <div style="clear-both">&nbsp</div>
        <p></p>
        {% block content %}{% endblock %}
    </div>
</body>
</html>